<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<!-- Standard button -->
<button type="button" class="btn btn-default">（默认样式）Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">（首选项）Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">（成功）Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">（一般信息）Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">（警告）Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">（危险）Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">（链接）Link</button>

<div class="alert alert-success" role="alert">Well done!</div>
<div class="alert alert-info" role="alert">Well done!</div>
<div class="alert alert-warning" role="alert">Well done!</div>
<div class="alert alert-danger" role="alert">Well done!</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>


      <button id="hide-btn" class="btn btn-success">点我吧</button>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

{#<script>#}
{#    $('#hide-btn').hide(3000)#}
{#</script>#}
      <table class="table table-bordered table-hover">
          <tr>
              <td>11</td>
              <td>22</td>
              <td>33</td>
              <td>44</td>
          </tr>
          <tr>
              <td>11</td>
              <td>22</td>
              <td>33</td>
              <td>44</td>
          <tr>
              <td>11</td>
              <td>22</td>
              <td>33</td>
              <td>44</td>
          </tr>
      </table>
</body>
</html>