<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   <table border="1">
       <thead>
          <tr>
              <td>主机名</td>
              <td>服务器IP</td>
              <td>产品线</td>
          </tr>
       </thead>
       <tbody>
          <tr>
              <td>2</td>
              <td>2</td>
              <td>2</td>
          </tr>
          <tr>
              <td>3</td>
              <td>3</td>
              <td>3</td>
          </tr>
       </tbody>
   </table>
</body>
</html>